header{
    width: 100%;
    height: 70px;
    margin-top: -0px;
    background-color: #283618;
    position: fixed;
    top: 0;
}

.link {
    color: #fefae0;
    width: 150px;
    font-family: Arial;
    margin: 0 auto 0 auto;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    cursor: pointer;
}