html {
  scroll-behavior: smooth;
}

body{
    background: #fefae0;
    display: felx;
    margin: 0px;
    align-items: center;
    justify-content: center;
}


.perspective-text {
    color: #fefae0;
    width: 425px;
    height: 315px;
    font-family: Arial;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    z-index: -1;

  }
  
  .perspective-line {
    position: absolute;
    height: 50px;
    width: 365px;
    overflow: hidden;
    position: relative;
    margin-left: -58px;
    z-index: -1;
  }
  
  p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
    color: #606c38;
    text-align: center; 
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    background: #283618;
    text-align: center; 
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #fefae0;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #283618;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  

h1 { color: #606c38; 
    font-family: 'Raleway',sans-serif; 
    font-size: 62px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 150px 0 24px; 
    text-align: center; 
    text-transform: uppercase; 
}
.text { color: #606c38;
    font-family: 'Raleway',sans-serif; 
    font-size: 18px; 
    font-weight: 800; 
    line-height: 32px; 
    margin: 0 0 10px; 
    text-align: center; 
    text-transform: uppercase; 
}

.personajes {
  width: auto;
  display: flex;
  justify-content: center;
}

img{
  margin: 100px 20px 100px 20px;
}

.sender{
  cursor: pointer;
}

